<style>
    .template{
        width: 80%;
        height: 700px;
        margin: auto;
        border: 1px solid #EFEFEF;
    }
    .header{
        width: 100%;
        height: 100px;
        margin: auto;
        background: #EFEFEF;
    }
    .logo{
        text-align: left;
        padding: 15px;
    }
    .logout-button{
        text-align: right;
        padding: 15px;
        height: 30px;
        margin: 0;
    }
    .template-body{
        width: 100%;
        height: 600px;
        margin: auto;

    }

    .footer{
        width: 100%;
        height: 70px;
        margin: auto;
        background: #EFEFEF;

    }

    .footer p{
        text-align: center;
        padding: 20px;
        margin: 0px;
    }

</style>
<div class="template">

  <div class="header">
    <div class="logo">
      <%= image_tag("syftet-logo.png", :alt => "" ) %>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete , class:'pull-right' %>
    </div>
  </div>

  <div class="template-body">
    <% if  @pending_jobs.present? %>
        <h2 style=" text-align: center; color: #C2E8F5"> E-mails are being sending...</h2>
    <% end %>
    <%= render 'form' %>
  </div>

  <div class="footer">
    <p> &copy; 2017 <a href="http://syftet.com/">Syftet Ltd</a><p>
  </div>


</div>