
<div class="template">

  <div class="header">
    <div class="logo">
      <%= image_tag("syftet-logo.png", :alt => "" ) %>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete , class:'pull-right' %>
    </div>
  </div>

  <div class="template-body p20">
    <% if  @pending_jobs.present? %>
        <h2 style=" text-align: center; color: #C2E8F5"> E-mails are being sending...</h2>
    <% end %>
    <%= render 'form' %>
  </div>

  <div class="footer">
    <p> &copy; 2017 <a href="http://syftet.com/">Syftet Ltd</a><p>
  </div>


</div>