<div>
  <style>
      .template{
          margin: auto;
          padding: 0;
          height: 650px;
          width: 60%;
          background: #FFFFFF;
          background-image: url('Page-1-Image-1.png');
          /*background: url(Page-1-Image-1.png);*/
          margin-top: 20px;
          margin-bottom: 20px;
          border: 1px solid #DADADA;
      }

      .header{
          height: 100px;
          width: 100% ;
          background: #F7F7F7;
      }
      .logo{
          text-align: center;
          padding: 15px;
      }

      .content {
          height: 450px;
          width: 100%;
          margin: auto;
      }

      .welcome-note{
            text-align: center;
      }
          .description{
              width: 80%;
              margin: auto;
              text-align: justify;
          }
          .button{
              text-align: center;
              background-color: #00BBEA;
              width: 20%;
              height: 20px;
              margin: auto;
              padding: 10px;
              text-decoration: none;
          }
          .slide{
              margin-top: 20px;
              width: 80%;
              height: 300px;
              margin: auto;
              padding: 20px;

          }

  </style>
</div>
<div class="template" ;>
  <div class="header">
    <div class="logo">
      <%= image_tag("syftet-logo.png", :alt => "" ) %>
    </div>
  </div>

  <div class="content">

    <div class="welcome-note">
      <p><b>Business process automation with Beaccount.</b></p>
    </div>

    <div class="description">
      <p >It's not a matter what type or size of business. We offer module based service and we have lot's of module.
        Choose your module that are best fit for your business.It's not a matter what type or size of business. We offer module based service and we have lot's of module.
        Choose your module that are best fit for your business.It's not a matter what type or size of business. We offer module based service and we have lot's of module.
        Choose your module that are best fit for your business.</p>
    </div>

    <div class="button">
      <%#= link_to "Let's Get Started"  %>
      <a href="#"> Let's Get Started </a>
    </div>
    <div class="slide">
      <%= image_tag("beaccount.jpg", height: '250px', width: '610px', :alt => "") %>
    </div>

  </div>

  <div class="footer"></div>
</div>
